<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Vacation Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="html" href="marsTable.html"
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p>Our next home!!!</p>
      <p><a class="btn btn-primary btn-lg" href="/scraper" role="button">Scrape New Data</a></p>
    </div>

    <div class="col-md-8">
      <h3>Latest Mars News</h3>
      <h4>{{ mars.newsTitle }}</h4>
      <h5>{{ mars.newsParagraph }}</h5>
    </div>

    <div class=" col-md-4">
      <h3>Mars Facts</h3>
      <embed type="text/html" src="marsTable.html" width="120" height="120"/>
    </div>
    <h3> Featured Mars Image</h3>
    <img src="{{ mars.featureImageURL }}" alt="Featured Mars Image">

    <div>
      <h3>Mars Hemispheres</h3>
      <ul style="list-style: none;">

        {% for hemi in mars.hemiUrls %}
        <img src="{{ hemi.img_url }}" class="figure-img img-fluid rounded" alt="Heimspheres">
        <li>{{ hemi.title }}</li>
        {% endfor %}

      </ul> 
    </div>
  </div>
</body>

</html>